<h4 style="padding-left: 5%;">{{drawerTitle}}</h4>
<mat-list>
    @for (x of restaurants$ | async; track x.id) {
    <mat-list-item matRipple [matRippleCentered]="true" [routerLink]="['restaurants', x.id]" class="list-item"
        (click)="restaurntClicked.emit()">
        <mat-icon matListItemIcon>arrow_right</mat-icon>
        <div matListItemTitle>{{x.name.toUpperCase()}}</div>
        <div matListItemLine>{{x.cuisine}}</div>
    </mat-list-item>
    } @empty {
    <mat-list-item class="list-item">
        <mat-icon>arrow_right</mat-icon>
        <h5>No restaurants</h5>
    </mat-list-item>
    }
</mat-list>